/* app/globals.css */
@font-face {
  font-family: "RoxboroughCF";
  src: url("/roxborough-cf-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Maharlika";
  src: url("/Maharlika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* --- Roxborough CF Regular --- */
@font-face {
  font-family: "RoxboroughCF";
  src: url("/roxborough-cf-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FrunchySage";
  src: url("/frunchy-sage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TanPearl";
  src: url("/tan-pearl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AngsanaNew";
  src: url("/angsa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calgary";
  src: url("/Calgary.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; /* light green background for whole page */
  font-family: Arial, sans-serif;
  color: #222;
}

/* ============================= */
/* LAYOUT FIX (IMPORTANT) */
/* ============================= */

html,
body {
  height: 100%;
}

/* Main layout */
.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Prevent header + marquee from shrinking */
.top-section {
  flex-shrink: 0;
}

/* Main content expands */
.main-content {
  flex: 1;
  width: 100%;
}
